@{
    var AppName = System.Configuration.ConfigurationManager.AppSettings.Get("AppName");
}
<!DOCTYPE html>
<html lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.Name">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @AppName</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.RenderFormat(
       "<script type=\"text/javascript\" src=\"{0}\" charset=\"UTF-8\"></script>", "~/bundles/quill")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/css")
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="lateral-navbar lateral-closed">
        <ul class="sidebar-nav items-uncollapsed ">
            <li><p class="item-decorator">@Html.ActionLink("Inicio", "Index", "Home")</p></li>
            <li><p class="item-decorator">@Html.ActionLink("Notas", "Index", "Notas")</p></li>
            <li><p class="item-decorator">@Html.ActionLink("Contacto", "Contact", "Home")</p></li>
        </ul>
    </nav>
    <div class="main-container main-open">
        <div class="top-part-container">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div id="back-bars" class="initial sided" onclick="manageCollapse()"><i class="fas fa-bars bars-icon initial-icon"></i></div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @*@Html.ActionLink(AppName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@

                    </div>
                    <div class="navbar-collapse collapse">
                        <ul id="actions-partial" class="nav navbar-nav" hidden>
                            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                            <li>@Html.ActionLink("Notas", "Index", "Notas")</li>
                            <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
            <div class="top-container">
                <h1>@ViewBag.Title</h1>
                <p>@ViewBag.Description</p>
            </div>
            <div class="header main-open text-center titlespan" id="myHeader">
            </div>
        </div>

        <div class="container body-content main-body">
            <div>
                @RenderBody()
            </div>

            <footer class="main-footer">
                <hr />
                <p>&copy; @DateTime.Now.Year - @AppName</p>
            </footer>
        </div>
    </div>
    <div class="popupContainer">
        @Html.Partial("../AjaxModals/ModalExitoPartial")
        @Html.Partial("../AjaxModals/ModalErrorPartial")
    </div>
    <script>
        function simpleFreeze(val) { return Object.freeze({ value: val }) };
        var doneDown = simpleFreeze(false),
            doneUp = simpleFreeze(false),
            collapsedState = simpleFreeze(false),
            doneForced = simpleFreeze(false),
            clickMenu = 0,
            doneCollapsedNavBar = simpleFreeze(false),
            doneEnterNavBar = simpleFreeze(false),
            header = document.getElementById("myHeader"),
            mainContainer = $(".main-container"),
            lateralNavBar = $(".lateral-navbar"),
            backBars = $("#back-bars"),
            barsIcon = $(".bars-icon"), sticky = header.offsetTop,
            className = (window.pageYOffset <= (sticky - $(".navbar")[0].scrollHeight)) ? "header-closed-relative" : "header-closed",
            innerLatNavBar = $("nav").find('ul'),
            decorators = $(".item-decorator");
        window.addEventListener("resize", function () {
            if (window.innerWidth <= 769) {
                if (!doneForced.value) {
                    if (collapsedState.value) {
                        manageCollapse();
                    }
                    backBars.attr("hidden", true);
                    $("#actions-partial").attr("hidden", false);
                    doneForced = simpleFreeze(true);
                }
            } else if (doneForced.value) {
                doneForced = simpleFreeze(false);
                backBars.attr("hidden", false);
                $("#actions-partial").attr("hidden", true);
            }
        });
        function UnCollapse() {
            UnCollapseButton();
            UnCollapseNavBar();
            UnCollapseGeneralLayout();
        }
        function Collapse() {
            CollapseButton();
            CollapseNavBar();
            CollapseGeneralLayout();
        }
        /* ******************************** Comportamiento de colapsado segregado ******************************** */
        function CollapseGeneralLayout() {
            mainContainer.removeClass("main-open"); mainContainer.addClass("main-closed");
            $(header).removeClass(className); $(header).addClass("main-open");
        }
        function UnCollapseGeneralLayout() {
            mainContainer.removeClass("main-closed"); mainContainer.addClass("main-open");
            $(header).removeClass(className); $(header).addClass("main-open");
        }

        function CollapseButton() {
            backBars.removeClass("initial"); backBars.addClass("final"); backBars.removeClass("sided");
            barsIcon.removeClass("initial-icon"); barsIcon.addClass("final-icon");
        }
        function UnCollapseButton() {
            backBars.removeClass("final"); backBars.addClass("initial"); backBars.addClass("sided");
            barsIcon.removeClass("final-icon"); barsIcon.addClass("initial-icon");
        }

        function CollapseNavBar() {
            lateralNavBar.removeClass("lateral-closed"); $(".lateral-navbar").addClass("lateral-open");
            innerLatNavBar.removeClass("items-uncollapsed"); innerLatNavBar.addClass("items-collapsed");
            decorators.addClass("decorator-final"); decorators.removeClass("decorator-initial");
        }
        function UnCollapseNavBar() {
            lateralNavBar.removeClass("lateral-open"); lateralNavBar.addClass("lateral-closed");
            innerLatNavBar.addClass("items-uncollapsed"); innerLatNavBar.removeClass("items-collapsed");
            decorators.addClass("decorator-initial"); decorators.removeClass("decorator-final");
        }
        /* ******************************** ************************************* ******************************** */
        function manageCollapse() {

            clickMenu++;
            $.when((function () {//Esto en verdad corre sincrónicamente sin la estructura "when" de jQ
                if ($(".lateral-hovered-collapsed").length != 0) {
                    console.log("aaaaaaa");
                    lateralNavBar.removeClass("lateral-hovered-collapsed");
                    lateralNavBar.mouseleave(function () { });
                    doneCollapsedNavBar = simpleFreeze(!doneCollapsedNavBar.value);
                }
                if (collapsedState.value) {
                    UnCollapse();
                } else {
                    Collapse();
                }
            })()
            ).done(function () {
                collapsedState = simpleFreeze(!collapsedState.value);
            }).then(function () {
                setStyle(".sticky{position: fixed;top: " + $(".navbar")[0].scrollHeight + "px; display: inline;width: " + (collapsedState.value ? "83.82% !important;" : "100% !important;") + "transition: width 0.1s ease-in-out 0.05s;} ", "stickyStyleSheet");
                $(".bars-icon").toggleClass("middle-icon");
            });

        }

        function setStyle(cssText, nod = "InjectableSheet") {
            var node = document.getElementById(nod);
            if (!node) {
                var sheet = document.createElement('style');
                sheet.type = 'text/css';
                sheet.id = nod;
                (document.head || document.getElementsByTagName('head')[0]).appendChild(sheet);
            } else {
                var sheet = node;
            }
            sheet.innerHTML = cssText;
        };
        function onNavBarMouseoutFromButtonHover() {
            if (clickMenu % 2 == 0 && doneEnterNavBar.value) {
                UnCollapseNavBar();
                lateralNavBar.removeClass("lateral-hovered-collapsed");
                doneEnterNavBar = simpleFreeze(false);
                doneCollapsedNavBar = simpleFreeze(false);
            }
        }
        $(document).ready(function () {
            if ($('body')[0].clientWidth <= 769) {//En conjunción con 'resize' Listener
                backBars.attr("hidden", true);
                $("#actions-partial").attr("hidden", false);
            }
            lateralNavBar.mouseleave(onNavBarMouseoutFromButtonHover);
            lateralNavBar.hover(function () { doneEnterNavBar = simpleFreeze(true); });
            backBars.hover(function () {
                if (!doneCollapsedNavBar.value && $(".main-closed")[0] == undefined && clickMenu == 0) {
                    CollapseNavBar();
                    lateralNavBar.addClass("lateral-hovered-collapsed");
                    doneCollapsedNavBar = simpleFreeze(true);
                    doneEnterNavBar = simpleFreeze(false);
                }
            });
            backBars.mouseleave(function () {
                if (clickMenu > 1 && $(".main-closed")[0] == undefined) {
                    clickMenu = 0;
                }
            });
            function Token() { return { "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() } }

            window.onscroll = stickyBannerBehaviour;

            var header = document.getElementById("myHeader");
            var sticky = header.offsetTop;

            function stickyBannerBehaviour() {

                if (window.pageYOffset >= sticky - $(".navbar")[0].scrollHeight) {
                    if (!doneDown.value) {
                        header.classList.remove("topHeader");
                        setStyle(".sticky{position: fixed;top: " + $(".navbar")[0].scrollHeight + "px; display: inline;width: " + (collapsedState.value ? "83.82% !important;" : "100%;") + " } ", "stickyStyleSheet");
                        header.classList.add("sticky");
                        var postizo = document.createElement('div');
                        $(postizo).addClass("postizo");
                        $(".top-part-container")[0].appendChild(postizo);
                        header.innerHTML = $(".top-container").find("h1")[0].innerHTML;
                        doneDown = simpleFreeze(true);
                        doneUp = simpleFreeze(false);
                    }
                } else if (!doneUp.value) {
                    doneDown = simpleFreeze(false);
                    doneUp = simpleFreeze(true);
                    if ($(".postizo")[0] != undefined) {
                        $(".postizo")[0].remove();
                    }
                    header.classList.remove("sticky");
                    setStyle(".topHeader{ top: " + $('.navbar')[0].scrollHeight + "px;}", "topHeaderStyleSheet");
                    header.classList.add("topHeader");
                    header.innerHTML = "";
                }

            }



        });
    </script>

    @Scripts.Render("~/bundles/modals")
</body>
</html>

