@using NotasProject.Models.DTOs;
@model dynamic

@{
    var result = Model as Tuple<List<NotaDTO>, List<NotaDTO>>;
}
    <div class="col-lg-2" /><div class="col-lg-8 ">
                                <div class="main-notas-container shadow allow-overflow text-center">
                                    @{ foreach (NotaDTO anchored in result.Item1)
                                        {
                                            <div class="main-nota-container">
                                                <h4>Fecha de creación: @anchored.CDT</h4>
                                                <h4>Fecha de última modificación: @anchored.LUDT</h4>
                                                <hr class="hr-strong" />
                                                <span class="anchor-sym glyphicon glyphicon-heart"></span>
                                                <p><a class="btn btn-default" onclick="GoErase(@anchored.NotaId)">Eliminar <span class="edit-sym glyphicon glyphicon-fire"></span></a></p>
                                                <p><a class="btn btn-default" onclick="GoEditEditor(@anchored.NotaId, @anchored.Anchor,'@anchored.NoteContent')">Editar <span class="edit-sym glyphicon glyphicon-pencil"></span></a></p>
                                                <div class="nota-container">
                                                    <div><h4>@Html.Raw(anchored.NoteContent)</h4></div>
                                                </div>
                                            </div>
                                            <hr class="hr-strong" />
                                        }
                                        foreach (NotaDTO notAnchored in result.Item2)
                                        {
                                <div class="main-nota-container">
                                    <h4>Fecha de creación: @notAnchored.CDT</h4>
                                    <h4>Fecha de última modificación: @notAnchored.LUDT</h4>
                                    <hr />
                                    <p><a class="btn btn-default" onclick="GoErase(@notAnchored.NotaId)">Eliminar <span class="edit-sym glyphicon glyphicon-fire"></span></a></p>
                                    <p><a class="btn btn-default" onclick="GoEditEditor(@notAnchored.NotaId, @notAnchored.Anchor,'@notAnchored.NoteContent')">Editar <span class="edit-sym glyphicon glyphicon-pencil"></span></a></p>
                                    <div class="nota-container">
                                        <div><h4>@Html.Raw(notAnchored.NoteContent)</h4></div>
                                    </div>
                                </div>
                                <hr class="editor-buttons-separator" />
                                        }
                                    }
                                </div>
    </div>
<div class="col-lg-2"/>